ul.nav{
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow:hidden;
    top: 0;
    width : 100%;
    
  }
ul.nav li{
      float: left;
  }
li a {
    display: block;
    color: rgb(8, 1, 1);
    background-color: rgb(187, 195, 240);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a.active {
    background-color: #ee5f77;
    color: white;
  }
li a:hover:not(.active) {
    background-color: rgb(63, 22, 139);
    color: white;
  }
h2 {
    color: blueviolet;
}
h3{
    color: cadetblue;
}
p{
    color: rgb(109, 104, 104);
}
  